// *************************************
//
//   #BLOCK
//
// *************************************

// The block object simply stacks an image on top of some text-like content.

// Predefine the variables bellow in order to alter and enable specific features.
$tree-block-namespace:     $tree-namespace !default;

$tree-block-gutter:            $tree-base-spacing-unit !default;
$tree-block-gutter--tiny:        quarter($tree-block-gutter) !default;
$tree-block-gutter--small:         halve($tree-block-gutter) !default;
$tree-block-gutter--large:        double($tree-block-gutter) !default;
$tree-block-gutter--huge:      quadruple($tree-block-gutter) !default;

$tree-enable-block--flush:     false !default;
$tree-enable-block--tiny:      false !default;
$tree-enable-block--small:     false !default;
$tree-enable-block--large:     false !default;
$tree-enable-block--huge:      false !default;
$tree-enable-block--center:    false !default;
$tree-enable-block--right:     false !default;





// Stacked image-with-text object. A simple abstraction to cover a very commonly
// occurring design pattern.
.#{$tree-block-namespace}block,
%#{$tree-block-namespace}block {
    display: block;
}





    // 1. Eliminate whitespace around images.
    .#{$tree-block-namespace}block__img,
    %#{$tree-block-namespace}block__img {
        vertical-align: middle; // [1]
        margin-bottom: $tree-block-gutter;

        @if ($tree-enable-block--flush == true) {

            // No space between the image and the text content.

            .#{$tree-block-namespace}block--flush > &,
            %#{$tree-block-namespace}block--flush > & {
                margin-bottom: 0;
            }

        }

        @if ($tree-enable-block--tiny == true) {

            // Tiny space between the image and the text content.

            .#{$tree-block-namespace}block--tiny > &,
            %#{$tree-block-namespace}block--tiny > & {
                margin-bottom: $tree-block-gutter--tiny;
            }

        }

        @if ($tree-enable-block--small == true) {

            // Small space between the image and the text content.

            .#{$tree-block-namespace}block--small > &,
            %#{$tree-block-namespace}block--small > & {
                margin-bottom: $tree-block-gutter--small;
            }

        }

        @if ($tree-enable-block--large == true) {

            // Large space between the image and the text content.

            .#{$tree-block-namespace}block--large > &,
            %#{$tree-block-namespace}block--large > & {
                margin-bottom: $tree-block-gutter--large;
            }

        }

        @if ($tree-enable-block--huge == true) {

            // Huge space between the image and the text content.

            .#{$tree-block-namespace}block--huge > &,
            %#{$tree-block-namespace}block--huge > & {
                margin-bottom: $tree-block-gutter--huge;
            }

        }

    }





    // Text-content.
    .#{$tree-block-namespace}block__body,
    %#{$tree-block-namespace}block__body {
        display: block;
    }





@if ($tree-enable-block--right == true) {

    // Right-aligned blocks.

    .#{$tree-block-namespace}block--right,
    %#{$tree-block-namespace}block--right {
        text-align: right;
    }

}

@if ($tree-enable-block--center == true) {

    // Center-aligned blocks.

    .#{$tree-block-namespace}block--center,
    %#{$tree-block-namespace}block--center {
        text-align: center;
    }

}
