// =============================================================================
//
// Name:          Block
//
// Description:   Stacks an image on top of some text-like content.
//
// Block:         `o-block`
//
// Elements:      `o-block__img`
//                `o-block__body`
//
// Modifiers:     `o-block--flush`
//                `o-block--tiny
//                `o-block--small`
//                `o-block--large`
//                `o-block--huge`
//                `o-block--center`
//                `o-block--right`
//
// Markup:
//
// <div class="o-block">
//     <img class="o-block__img" src="/path/to/image.png" alt="" />
//     <div class="o-block__body">
//         <p>Text-like content goes here.</p>
//     </div>
// </div>
//
// =============================================================================





// Variables
// =============================================================================

// Predefine the variables bellow in order to alter and enable specific
// features.

$tree-block-namespace:        $tree-namespace !default;

$tree-block-gutter:           $tree-base-spacing-unit !default;
$tree-block-gutter--tiny:       quarter($tree-block-gutter) !default;
$tree-block-gutter--small:        halve($tree-block-gutter) !default;
$tree-block-gutter--large:       double($tree-block-gutter) !default;
$tree-block-gutter--huge:     quadruple($tree-block-gutter) !default;

$tree-enable-block--flush:    false !default;
$tree-enable-block--tiny:     false !default;
$tree-enable-block--small:    false !default;
$tree-enable-block--large:    false !default;
$tree-enable-block--huge:     false !default;
$tree-enable-block--center:   false !default;
$tree-enable-block--right:    false !default;





// =============================================================================
// Block: `o-block`
// =============================================================================

.#{$tree-block-namespace}o-block {
    display: block;
}





    // Element: `o-block__img`
    // 1. Eliminate whitespace around images.
    // =========================================================================

    .#{$tree-block-namespace}o-block__img {
        vertical-align: middle; // [1]
        margin-bottom: $tree-block-gutter;

        @if ($tree-enable-block--flush == true) {

            // Modifier: `o-block--flush`
            // No space between the image and the text content.
            // =================================================================

            .#{$tree-block-namespace}o-block--flush > & {
                margin-bottom: 0;
            }

        }

        @if ($tree-enable-block--tiny == true) {

            // Modifier: `o-block--tiny`
            // Tiny space between the image and the text content.
            // =================================================================

            .#{$tree-block-namespace}o-block--tiny > & {
                margin-bottom: $tree-block-gutter--tiny;
            }

        }

        @if ($tree-enable-block--small == true) {

            // Modifier: `o-block--small`
            // Small space between the image and the text content.
            // =================================================================

            .#{$tree-block-namespace}o-block--small > & {
                margin-bottom: $tree-block-gutter--small;
            }

        }

        @if ($tree-enable-block--large == true) {

            // Modifier: `o-block--large`
            // Large space between the image and the text content.
            // =================================================================

            .#{$tree-block-namespace}o-block--large > & {
                margin-bottom: $tree-block-gutter--large;
            }

        }

        @if ($tree-enable-block--huge == true) {

            // Modifier: `o-block--huge`
            // Huge space between the image and the text content.
            // =================================================================

            .#{$tree-block-namespace}o-block--huge > & {
                margin-bottom: $tree-block-gutter--huge;
            }

        }

    }





    // Element: `o-block__body`
    // =========================================================================
    .#{$tree-block-namespace}o-block__body {
        display: block;
    }





@if ($tree-enable-block--right == true) {

    // Modifier: `o-block--right`
    // Right-aligned blocks.
    // =========================================================================

    .#{$tree-block-namespace}o-block--right {
        text-align: right;
    }

}

@if ($tree-enable-block--center == true) {

    // Modifier: `o-block--center`
    // Center-aligned blocks.
    // =========================================================================

    .#{$tree-block-namespace}o-block--center {
        text-align: center;
    }

}
